body{
    background-color: rgb(11, 11, 82);
    color: rgb(214, 210, 210);
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}

header{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top: 25%;
}

.myImgClass{
    width: 150px;
}

#memeImage{
    width: 150px;
}